{% extends "base.html" %}

{% block content %}
<section class="catalog_page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <a href="/">Главная</a> / <a href="{% url 'catalog:account_profile' %}">Личный кабинет</a> / Сменить пароль
                </div>
            </div>
            <div class="col-xl-3 d-xl-block d-none">
                <div class="carservice_menu">
                    <p><a href="{% url 'catalog:account_orders' %}">Мои заказы</a></p>
                    <p><a href="{% url 'catalog:account_profile' %}">Личные данные</a></p>
                    <p><a href="{% url 'catalog:account_password' %}">Сменить пароль</a></p>
                    <p><a href="{% url 'catalog:favorites' %}">Избранное</a></p>
                    <p><a href="{% url 'catalog:cart_detail' %}">Корзина</a></p>
                </div>
                {% if request.user.is_authenticated %}
                <a href="{% url 'catalog:logout' %}"><button class="lk_btn">Выйти</button></a>
                {% else %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><button class="lk_btn">Войти</button></a>
                {% endif %}
            </div>
            <div class="col-lg-9">
                <div class="carservice_form1">
                    <div class="carservice_form_con carservice_form_con2 mt-0" style="max-width: 500px;">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">

                        {# общие ошибки формы #}
                        {% if form.non_field_errors %}
                        <div class="col-12">
                            <div class="text-danger small mb-2">{{ form.non_field_errors|join:", " }}</div>
                        </div>
                        {% endif %}

                        <div class="col-12">
                        <h4 style="margin-top: 0;">Старый пароль <span>*</span></h4>
                        <input type="password" name="old_password"
                                class="auth-input" placeholder="Введите старый пароль..." required>
                        {% if form.old_password.errors %}
                            <div class="text-danger small mt-1">{{ form.old_password.errors.0 }}</div>
                        {% endif %}
                        </div>

                        <div class="col-12">
                        <h4>Новый пароль <span>*</span></h4>
                        <input type="password" name="new_password1"
                                class="auth-input" placeholder="Введите новый пароль..." required>
                        {% if form.new_password1.errors %}
                            <div class="text-danger small mt-1">{{ form.new_password1.errors.0 }}</div>
                        {% endif %}
                        </div>

                        <div class="col-12">
                        <h4>Повторите пароль <span>*</span></h4>
                        <input type="password" name="new_password2"
                                class="auth-input" placeholder="Повторите пароль..." required>
                        {% if form.new_password2.errors %}
                            <div class="text-danger small mt-1">{{ form.new_password2.errors.0 }}</div>
                        {% endif %}
                        </div>

                        <div class="col-12">
                        <button style="margin-top: 24px; width: 169px; height: 42px; border: none;"
                                >
                            Сохранить пароль
                        </button>
                        </div>
                    </div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
