{% extends "base.html" %}
{% block content %}
<div class="catalog_page mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 deliv_and_pay">
                <h2>Политика использования файлов cookies</h2>
                <p>
    Политика использования cookies (далее – Политика) описывает типы Cookies, цели их использования, как именно Оператор обрабатывает данные, собранные в процессе использования Посетителями веб-сайта gonka (далее – Сайт), и способы, с помощью которых можно отказаться от обработки Cookies.
    <br><br>
    1. Термины и определения.
    <br><br>
    В Политике используются следующие термины:<br>
    Пользователь – любой посетитель Сайта Оператора.<br>
    Cookies – это небольшой фрагмент данных, который Сайт запрашивает у браузера, используемого на компьютере, мобильном устройстве или другом устройстве Пользователя. Cookies отражают предпочтения Пользователя или его действия на Сайте, а также сведения об его оборудовании, дате и времени сессии. Cookies хранятся локально на компьютере или мобильном устройстве Посетителя. Посетитель может удалить сохраненные Cookies в настройках соответствующего браузера.<br>
    IP-адрес — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.<br>
    <br>
    2. Общие положения.<br><br>
    2.1. При первом посещении Сайта с помощью нового браузера или в режиме приватного просмотра Сайта предоставляется баннер, предупреждающий Пользователя об осуществлении сбора Cookies и запрашивающий согласие Пользователя на обработку его Cookies.<br>
    2.2. Нажимая кнопку «Принять» или продолжая пользоваться Сайтом, Пользователь предоставляет свое согласие на обработку его Cookies, а также подтверждает согласие с положениями Политики. Продолжение пользования Сайтом означает переход по любой ссылке, размещённой на Сайте, или просмотр контента на любой странице Сайта.<br>
    2.3. Пользователь может отказаться от использования Cookies в настройках своего браузера. В таком случае Сайт будет использовать только те Cookies, которые строго необходимы для его функционирования и сервисов, однако такой отказ может привести к некорректной работе Сайта.<br>
    2.4. Политика применяется только к Сайту. Оператор не контролирует и не несет ответственность за сайты третьих лиц, на которые Посетитель может перейти по ссылкам, доступным на Сайте.<br>
    <br>
    3. Обработка данных на Сайте.<br><br>
    3.1. Политика устанавливает обязательства Оператора по неразглашению и обеспечению защиты конфиденциальности данных Пользователя, которые Оператор может получить во время посещения Пользователем Сайта.<br>
    3.2. Оператор обрабатывает данные, которые автоматически передаются ему при посещении Посетителем страниц Сайта, на которых установлен статистический скрипт («пиксель»), включая:<br>
    • IP-адрес, тип браузера и устройства;<br>
    • информацию о браузере и адрес страницы;<br>
    • информацию о стране;<br>
    • дату и время посещения, количество кликов;<br>
    • реферер (адрес предыдущей страницы);<br>
    • иные сведения из Cookies.<br>
    3.3. На Сайте используется сервис «Яндекс Карты» (условия использования: https://yandex.ru/legal/maps_termsofuse/ru/).<br>
    <br>
    4. Виды Cookies, используемые Оператором.<br><br>
    4.1. Сессионные.<br>
    4.2. Постоянные.<br>
    4.3. Статистические.<br>
    4.4. Обязательные.<br>
    <br>
    5. Цели использования.<br><br>
    Оператор использует Cookies для:<br>
    1) сохранения информации о Пользователе;<br>
    2) идентификации Пользователя и его устройства;<br>
    3) анализа посещаемости и эффективности контента;<br>
    4) работы отдельных разделов Сайта;<br>
    5) улучшения взаимодействия Сайта и Пользователей;<br>
    6) повышения качества обслуживания.<br>
    <br>
    6. Дополнительные условия.<br><br>
    6.1. Оператор вправе вносить изменения в Политику.<br>
    6.2. Новая редакция вступает в силу с даты её размещения на Сайте.<br>
    6.3. Действующая Политика размещена по адресу:<br>
    6.4. Вопросы по обработке персональных данных можно направлять на e-mail: info@gonka.<br>
</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}