{% extends "base.html" %}
{% block content %}
<div class="catalog_page mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 deliv_and_pay">
                <h2>Согласие на обработку персональных данных</h2>
                <p>
                    Настоящим, я, действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, предоставляя данные о себе, даю согласие Индивидуальный предприниматель (далее - Оператор) на обработку следующих моих персональных данных, указанных мною как при оформлении заявок (приобретение товаров, оказание услуг) на сайте Оператора, так и предоставленные через личный кабинет на сайте Оператора или иным способом, с целью приобретение товаров и/или услуг: <br><br>

                    - фамилия, имя, отчество (при наличии); <br><br>

                    - контактная информация (номер телефона, электронный адрес). <br><br>


                    Для достижения указанной цели Оператор может осуществлять любые действия (операции) или совокупности действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, указанными выше, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных. <br><br>

                    Я подтверждаю, что предоставленные мной персональные данные являются точными, актуальными и достоверными, также обязуюсь своевременно информировать Оператора об изменениях в моих персональных данных по адресу электронной почты: info@gonka, либо в письменной форме на адрес: Петрозаводск, Ленина 33. <br><br>

                    Настоящее согласие вступает в силу с момента его предоставления, путем проставления галочки на сайте Оператора. <br><br>

                    Согласие действует до факта достижения цели обработки или до отзыва согласия. <br><br>

                    В соответствии с положениями ч. 2 ст. 9 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных» оставляю за собой право отозвать данное согласие посредством направления такого отзыва по адресу электронной почты: info@gonka, либо в письменной форме на адрес: Петрозаводск, Ленина 33. <br><br>

                    Я предупрежден(а), что в случае отзыва согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия при наличии оснований, указанных в пп. 2-11 ч. 1 ст. 6, ч. 2 ст. 10 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных».
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}